flows.json
[{"id":"9e502fc0.737e1","type":"tab","label":"Titlebar","disabled":false,"info":""},{"id":"22d94060.4f16e","type":"tab","label":"MQTT Broker","disabled":false,"info":""},{"id":"51c6d4d2.60bbcc","type":"tab","label":"Luminosity Chart","disabled":false,"info":""},{"id":"1dab7e4.2c5f182","type":"tab","label":"People Count by Zone","disabled":false,"info":""},{"id":"42c9eda5.0cb6f4","type":"tab","label":"AWS Facial Analysis","disabled":false,"info":""},{"id":"cbd45d06.a6ba6","type":"tab","label":"AWS Label","disabled":false,"info":""},{"id":"3a958c91.668ac4","type":"tab","label":"AWS Text","disabled":false,"info":""},{"id":"1a14e2bc.9c336d","type":"tab","label":"Show Snap","disabled":false,"info":""},{"id":"ae523494.b67658","type":"subflow","name":"Persistence Helper","info":"","in":[{"x":45.5,"y":85,"wires":[{"id":"699341ca.9cb82"}]}],"out":[{"x":749.5,"y":53,"wires":[{"id":"5ee6e367.3fec3c","port":0}]},{"x":755,"y":169,"wires":[{"id":"95bba33e.d179b","port":0}]}]},{"id":"efb93488.62b638","type":"mqtt-broker","z":"","name":"Localhost","broker":"localhost","port":"1884","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"82629ef5.b2397","type":"mqtt-broker","z":"","name":"Meraki","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Connection","birthQos":"0","birthPayload":"Meraki Connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b684a988.a94658","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"837a1b6f.b4f278","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"65e8b6a0.c65478","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"49240760.248f78","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"5ba842ef.6e227c","type":"mqtt-broker","z":"","name":"Pi Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3328c044.15f08","type":"mqtt-broker","z":null,"name":"NAS Broker","broker":"10.0.1.25","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddd77f6a.d1bb9","type":"websocket-listener","z":"","path":"/ws/people","wholemsg":"false"},{"id":"92cdbaf8.d21778","type":"ui_tab","z":"","name":"Meraki MV API integration with Node-RED","icon":"dashboard","disabled":false,"hidden":false},{"id":"156e60b5.d396af","type":"ui_group","z":"","name":"Light Levels","tab":"92cdbaf8.d21778","disp":true,"width":"9","collapse":true},{"id":"48cf039f.9064fc","type":"ui_tab","z":"","name":"PeopleCount","icon":"dashboard","disabled":false,"hidden":false},{"id":"c02f0f3b.5c569","type":"ui_group","z":"","name":"People Detection","tab":"92cdbaf8.d21778","disp":true,"width":"10","collapse":false},{"id":"de5988ad.952708","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9c527f7e.65d6","type":"ui_group","z":"","name":"AWS Rekognition Facial Analysis","tab":"92cdbaf8.d21778","disp":true,"width":"6","collapse":false},{"id":"b847bb7b.f8b558","type":"ui_group","z":"","name":"AWS Objects - Labels & Confidence (%)","tab":"92cdbaf8.d21778","disp":true,"width":"17","collapse":false},{"id":"d964cc6c.a6d69","type":"ui_group","z":"","name":"Default","tab":"18546725.b480d9","disp":true,"width":"6","collapse":false},{"id":"18546725.b480d9","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"b480891b.6c5d18","type":"ui_group","z":"","name":"Snapshot","tab":"92cdbaf8.d21778","disp":true,"width":"27","collapse":true},{"id":"680da511.32976c","type":"mqtt-broker","z":"","name":"Meraki","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"Connection","birthQos":"0","birthPayload":"Meraki Connected","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"697335f6.ec069c","type":"ui_tab","z":"","name":"Analytics","icon":"visibility","order":1,"disabled":false,"hidden":false},{"id":"3675486e.e13b08","type":"ui_group","z":"","name":"Light Levels","tab":"697335f6.ec069c","order":1,"disp":true,"width":"8","collapse":false},{"id":"6fb6da61.f15a04","type":"ui_group","z":"","name":"People Detection","tab":"697335f6.ec069c","order":2,"disp":true,"width":"8","collapse":false},{"id":"d788b3.2794f75","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#23c81e","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Cisco Meraki MV","default":"#4B7930","baseColor":"#56c87e","baseFont":"Verdana,Verdana,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#56c87e","edited":true},"page-titlebar-backgroundColor":{"value":"#747584","edited":true},"page-backgroundColor":{"value":"#d6d6d6","edited":true},"page-sidebar-backgroundColor":{"value":"#e4e3e5","edited":true},"group-textColor":{"value":"#3d3d3d","edited":true},"group-borderColor":{"value":"#fefdff","edited":true},"group-backgroundColor":{"value":"#ffffff","edited":true},"widget-textColor":{"value":"#535353","edited":true},"widget-backgroundColor":{"value":"#ffffff","edited":true},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Cisco Meraki MV with AWS Rekognition","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"341cf2b7.c712ae","type":"ui_group","z":"","name":"Face Detection","tab":"697335f6.ec069c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3c28aca9.28c8c4","type":"ui_group","z":"","name":"Label Detection","tab":"697335f6.ec069c","order":4,"disp":true,"width":"7","collapse":false},{"id":"17ad9662.cfd19a","type":"ui_group","z":"","name":"Snapshot","tab":"eb916ef7.87c28","order":7,"disp":true,"width":"27","collapse":true},{"id":"87851958.78e788","type":"ui_group","z":"","name":"Text Detection","tab":"697335f6.ec069c","order":5,"disp":true,"width":"10","collapse":false},{"id":"eb916ef7.87c28","type":"ui_tab","z":"","name":"Snapshot","icon":"perm_media","order":2,"disabled":false,"hidden":false},{"id":"6cb91401.edf21c","type":"ui_group","z":"","name":"Default","tab":"","order":1,"disp":false,"width":"24","collapse":false},{"id":"1cce4de8.376402","type":"ui_group","z":"","name":"www","tab":"4186f111.a9988","disp":false,"width":"35"},{"id":"4186f111.a9988","type":"ui_tab","z":"","name":"Button Panel","icon":"dashboard"},{"id":"5ee6e367.3fec3c","type":"change","z":"ae523494.b67658","name":"","rules":[{"t":"set","p":"action","pt":"msg","to":"restore","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":589.5,"y":53,"wires":[[]]},{"id":"699341ca.9cb82","type":"json","z":"ae523494.b67658","name":"","x":175.5,"y":85,"wires":[["5ee6e367.3fec3c"]]},{"id":"3ac25e1c.350bc2","type":"catch","z":"ae523494.b67658","name":"","scope":["699341ca.9cb82"],"x":183.5,"y":117,"wires":[["304a62c7.065efe"]]},{"id":"304a62c7.065efe","type":"change","z":"ae523494.b67658","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":354.5,"y":116,"wires":[["5ee6e367.3fec3c"]]},{"id":"95bba33e.d179b","type":"inject","z":"ae523494.b67658","name":"Trigger restore","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":618.5,"y":169,"wires":[[]]},{"id":"6a2df9da.a15348","type":"mosca in","z":"22d94060.4f16e","mqtt_port":"1884","mqtt_ws_port":8080,"name":"","username":"admin","password":"M3raki12E","dburl":"","x":130,"y":120,"wires":[[]]},{"id":"35be2667.1fd3aa","type":"comment","z":"22d94060.4f16e","name":"Broker","info":"","x":90,"y":80,"wires":[]},{"id":"3bd2e2c9.46527e","type":"json","z":"51c6d4d2.60bbcc","name":"","property":"payload","action":"","pretty":false,"x":410,"y":260,"wires":[["f44e003.41024"]]},{"id":"f44e003.41024","type":"change","z":"51c6d4d2.60bbcc","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.lux","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":260,"wires":[["cc7b4da0.93c7d","16eb8180.91d64f"]]},{"id":"a67b5526.341fe8","type":"mqtt in","z":"51c6d4d2.60bbcc","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/light","qos":"0","datatype":"auto","broker":"efb93488.62b638","x":190,"y":260,"wires":[["3bd2e2c9.46527e"]]},{"id":"16eb8180.91d64f","type":"ui_chart","z":"51c6d4d2.60bbcc","name":"Historic Luminosity","group":"3675486e.e13b08","order":0,"width":"0","height":"0","label":"<center><font color=grey><small>Historic Luminosity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":990,"y":260,"wires":[[]]},{"id":"f9b79492.547968","type":"comment","z":"51c6d4d2.60bbcc","name":"Luminosity at /UI","info":"","x":140,"y":120,"wires":[]},{"id":"9c59a4ff.f592e8","type":"change","z":"1dab7e4.2c5f182","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":240,"wires":[["ffe8cbf1.7b68a8"]]},{"id":"9b0cc43b.4c1b98","type":"mqtt in","z":"1dab7e4.2c5f182","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417130","qos":"0","datatype":"auto","broker":"efb93488.62b638","x":280,"y":400,"wires":[["891dcd14.b204c"]]},{"id":"ffe8cbf1.7b68a8","type":"ui_chart","z":"1dab7e4.2c5f182","name":"People Count Zone 1","group":"6fb6da61.f15a04","order":0,"width":"0","height":"0","label":"<font color=grey><small>Historic People Count Zone 1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"step","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":240,"wires":[[]]},{"id":"907ff9e9.a708d8","type":"json","z":"1dab7e4.2c5f182","name":"","property":"payload","action":"","pretty":false,"x":430,"y":480,"wires":[["9b4f2bea.150d08"]]},{"id":"9b4f2bea.150d08","type":"change","z":"1dab7e4.2c5f182","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.counts.person","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":480,"wires":[["8990150e.7f0d48"]]},{"id":"95db773e.416588","type":"mqtt in","z":"1dab7e4.2c5f182","name":"","topic":"/merakimv/Q2GV-CUDL-WAV7/676665844012417131","qos":"0","datatype":"auto","broker":"efb93488.62b638","x":290,"y":560,"wires":[["907ff9e9.a708d8"]]},{"id":"8990150e.7f0d48","type":"ui_chart","z":"1dab7e4.2c5f182","name":"People Count Zone 2","group":"6fb6da61.f15a04","order":0,"width":"0","height":"0","label":"<font color=grey><small>Historic People Count Zone 2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":920,"y":480,"wires":[[]]},{"id":"cc7b4da0.93c7d","type":"ui_gauge","z":"51c6d4d2.60bbcc","name":"Instantaneous Luminosity","group":"3675486e.e13b08","order":3,"width":"0","height":"0","gtype":"gage","title":"<center><font color=grey><small>Instantaneous Luminosity","label":"Lumen","format":"","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1040,"y":180,"wires":[]},{"id":"64953e47.be77b","type":"mqtt in","z":"42c9eda5.0cb6f4","name":"","topic":"Age","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":340,"y":120,"wires":[["473c1795.e9ea18"]]},{"id":"ccc2da54.f4da38","type":"mqtt in","z":"42c9eda5.0cb6f4","name":"","topic":"EmotionalState","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":370,"y":220,"wires":[["666cc01.731a94"]]},{"id":"473c1795.e9ea18","type":"ui_gauge","z":"42c9eda5.0cb6f4","name":"Age","group":"341cf2b7.c712ae","order":2,"width":"5","height":"5","gtype":"donut","title":"<font color=grey><small>Age","label":"Years","format":"{{value}}","min":"0","max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"666cc01.731a94","type":"ui_text","z":"42c9eda5.0cb6f4","group":"341cf2b7.c712ae","order":1,"width":"5","height":"3","name":"Emotional State","label":"<font color=grey><small>Emotional State","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":588,"y":190,"wires":[]},{"id":"fd2f7f78.edd9","type":"mqtt in","z":"42c9eda5.0cb6f4","name":"","topic":"Gender","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":350,"y":480,"wires":[["616c1d34.ea3b84"]]},{"id":"616c1d34.ea3b84","type":"ui_text","z":"42c9eda5.0cb6f4","group":"341cf2b7.c712ae","order":1,"width":"5","height":"2","name":"Gender","label":"<font color=grey><small>Gender","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":580,"y":480,"wires":[]},{"id":"131a251f.9ef8ab","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label0","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":210,"y":200,"wires":[["e47e0b4f.a5ada8"]]},{"id":"e47e0b4f.a5ada8","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"7","height":"1","name":"Label 1","label":"<font color=grey><small>Label 1","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":460,"y":320,"wires":[]},{"id":"7b7e939f.c832ec","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label1","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":230,"y":400,"wires":[["622a28b1.55d148"]]},{"id":"622a28b1.55d148","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"0","height":"0","name":"Label 2","label":"<font color=grey><small>Label 2","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":480,"y":520,"wires":[]},{"id":"9d92b77d.d21938","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label2","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":230,"y":600,"wires":[["705f3b0e.9bea94"]]},{"id":"705f3b0e.9bea94","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"0","height":"0","name":"Label 3","label":"<font color=grey><small>Label 3","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":480,"y":720,"wires":[]},{"id":"bb118943.4fc6d8","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label3","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":230,"y":820,"wires":[["6ad8152e.54a2ac"]]},{"id":"6ad8152e.54a2ac","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"7","height":"1","name":"Label 4","label":"<font color=grey><small>Label 4","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":480,"y":940,"wires":[]},{"id":"d59959f0.d87118","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label4","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":230,"y":1020,"wires":[["2845ca91.359d06"]]},{"id":"2845ca91.359d06","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"0","height":"0","name":"Label 5","label":"<font color=grey><small>Label 5","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":480,"y":1140,"wires":[]},{"id":"9e838a06.ca3518","type":"mqtt in","z":"cbd45d06.a6ba6","name":"","topic":"Label5","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":250,"y":1220,"wires":[["a6a6e416.b3f0b8"]]},{"id":"a6a6e416.b3f0b8","type":"ui_text","z":"cbd45d06.a6ba6","group":"3c28aca9.28c8c4","order":1,"width":"0","height":"0","name":"Label 6","label":"<font color=grey><small>Label 6","format":"<font color=grey><small>{{msg.payload}}","layout":"row-left","x":500,"y":1340,"wires":[]},{"id":"c0b5daaa.7558b8","type":"ui_template","z":"1a14e2bc.9c336d","group":"17ad9662.cfd19a","name":"","order":0,"width":"27","height":"21","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":740,"y":300,"wires":[[]]},{"id":"fb705b3a.cb3d18","type":"mqtt in","z":"1a14e2bc.9c336d","name":"","topic":"Snap","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":590,"y":600,"wires":[["c95195e5.5ec1b8"]]},{"id":"c95195e5.5ec1b8","type":"template","z":"1a14e2bc.9c336d","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"{{{payload}}}\"  height=1100px; width=1900px >\n    content will be rendered here...\n</iframe>","x":780,"y":600,"wires":[["c0b5daaa.7558b8"]]},{"id":"b39ac503.c28b28","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText0","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":286,"y":128,"wires":[["3216766e.64d2ea"]]},{"id":"3216766e.64d2ea","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":1,"width":"0","height":"0","name":"DetectedText 1","label":"<font color=grey><small>DetectedText 1","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":537,"y":240,"wires":[]},{"id":"55ff77a2.070e68","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText1","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":299,"y":317,"wires":[["d9051001.94d8"]]},{"id":"d9051001.94d8","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":2,"width":"0","height":"0","name":"DetectedText 2","label":"<font color=grey><small>DetectedText 2","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":539,"y":437,"wires":[]},{"id":"ddf11511.93a388","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText2","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":301,"y":506,"wires":[["326c9da9.e66ed2"]]},{"id":"326c9da9.e66ed2","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":3,"width":"0","height":"0","name":"DetectedText 3","label":"<font color=grey><small>DetectedText 3","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":541,"y":626,"wires":[]},{"id":"b5bdf979.cc2e38","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText3","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":313,"y":677,"wires":[["ff837900.65f7e8"]]},{"id":"ff837900.65f7e8","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":4,"width":"0","height":"0","name":"DetectedText 4","label":"<font color=grey><small>DetectedText 4","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":553,"y":797,"wires":[]},{"id":"d71596cc.567758","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText4","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":320,"y":863,"wires":[["9ecfd8d9.d88298"]]},{"id":"9ecfd8d9.d88298","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":5,"width":"0","height":"0","name":"DetectedText 5","label":"<font color=grey><small>DetectedText 5","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":560,"y":983,"wires":[]},{"id":"a1b16034.9d44a","type":"mqtt in","z":"3a958c91.668ac4","name":"","topic":"DetectedText5","qos":"2","datatype":"auto","broker":"efb93488.62b638","x":330,"y":1049,"wires":[["8dad0f7.7d42ef"]]},{"id":"8dad0f7.7d42ef","type":"ui_text","z":"3a958c91.668ac4","group":"87851958.78e788","order":6,"width":"0","height":"0","name":"DetectedText 6","label":"<font color=grey><small>DetectedText 6","format":"<font color=grey><small>{{msg.payload}}","layout":"row-spread","x":570,"y":1169,"wires":[]},{"id":"d949c5df.eee1a8","type":"ui_template","z":"9e502fc0.737e1","group":"6cb91401.edf21c","name":"Logo / Clock","order":0,"width":0,"height":0,"format":"<script id=\"clockScript1\" type=\"text/javascript\">\n    var clockInterval;\n    $(function () {\n        if (clockInterval) return;\n\n        //add logo\n        var div1 = $('<div/>');\n        var logo = new Image();\n        \n        //change url for custom logo!\n        logo.src = 'https://meraki.cisco.com/img/cisco-meraki-logo.png'\n        logo.height = 45;\n        div1[0].style.margin = '10px auto';\n\n        div1.append(logo);\n\n        //add clock\n        var div2 = $('<div/>');\n        var p = $('<p/>');\n\n        div2.append(p);\n        div2[0].style.margin = '5px';\n\n        function displayTime() {\n            p.text(new Date().toLocaleString());\n        }\n        \n        clockInterval = setInterval(displayTime, 1000);\n\n        //add to toolbar when it's available\n        var addToToolbarTimer;\n        \n        function addToToolbar() {\n            var toolbar = $('.md-toolbar-tools');\n            \n            if(!toolbar.length) return;\n            \n            toolbar.append(div1);\n            toolbar.append(div2);\n            clearInterval(addToToolbarTimer);\n        }\n        addToToolbarTimer = setInterval(addToToolbar, 100);\n    });\n</script>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":488,"y":180,"wires":[[]]},{"id":"891dcd14.b204c","type":"json","z":"1dab7e4.2c5f182","name":"","property":"payload","action":"","pretty":false,"x":340,"y":180,"wires":[["9c59a4ff.f592e8"]]}]
